@page
@model CandidatesModel
@{
}

<form id="form1" runat="server">
          <div id="content">
                
                <div id="main">
            
                <div class="table-responsive">          
  <table class="table" border="3">
   
    <tbody>
      <tr>
           <td><a>1.</a></td>
        <td><a>Петро</a></td>
       
        <td><a>Порошенко</a></td>
       
      </tr>
        <tr>
             <td><a>2.</a></td>
        <td><a>Володимир</a></td>
        <td><a>Зеленський</a></td>
        
      </tr>
        <tr>
             <td><a>3.</a></td>
        <td><a>Юлія</a></td>
        <td><a>Тимошенко</a></td>
        
      </tr>
         <tr>
              <td><a>4.</a></td>
        <td><a>Анатолій</a></td>
        <td><a>Гриценко</a></td>
        
      </tr>
         <tr>
              <td><a>5.</a></td>
        <td><a>Юрій</a></td>
        <td><a>Бойко</a></td>
        
      </tr>
         <tr>
              <td><a>6.</a></td>
        <td><a>Олег</a></td>
        <td><a>Ляшко</a></td>
        
      </tr>
         <tr>
              <td><a>7.</a></td>
        <td><a>Сергій</a></td>
        <td><a>Тарута</a></td>
        
      </tr>
    </tbody>
  </table>
               </div>
                  </div>
               </div>
                <div id="footer"></div>
    </form>